---
import { Icon } from "astro-icon/components";
---

<div class="w-screen h-70 bg-slate-100 flex justify-between items-center px-10">
  <div class="flex flex-row gap-4 justify-center items-center">
    <Icon name="baby" width={50} height={50} class="text-white" />
    <p class="text-black text-1 font-semibold">NeoSimVR</p>
  </div>
  <div class="flex flex-row gap-4">
    <a class="text-black text-1 font-semibold">Iniciar sección</a>
    <a class="text-black text-1 font-semibold">Caracteristicas</a>
    <a class="text-black text-1 font-semibold">Contactos</a>
  </div>
</div>
